@charset "UTF-8";

body {
    /* 

    cursor: url('дефолт.png'), auto;
    cursor: url('наведение.png'), pointer;
    cursor: url('выделение текста.cur'), text;
    cursor: url('перемещение при зажатой ЛКМ.cur'), move;
    cursor: url('запрещено.cur'), not-allowed;
    cursor: url('ожидание.cur'), wait; 
    
    */
}

::selection {
    color: #fff;
    background: var(--success-color);
}

.btn {
    transition: var(--main-transition);
}

.btn-transparent {
    filter: drop-shadow(0px 0px 0px var(--text-primary));
    transition-property: transform, filter;

    /* &:hover {
        transform: translate(-3px, -3px);
        filter: drop-shadow(3px 3px 5px var(--text-primary));
    } */

    &:active {
        transform: translate(0, 0);
        filter: drop-shadow(0px 0px 0px var(--text-primary));
    }
}

.hover-active-1 {
    --hover-color: currentColor;
    /* position: relative;
    z-index: 1;*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);

    transition: var(--main-transition);
    transition-property: color, filter;

    /* 
    &::after {
        content: '';
        position: absolute;
        top: 20%;
        left: -10%;
        height: 60%;
        width: 120%;
        background: var(--hover-color);
        z-index: 0;
        opacity: 0;
        filter: blur(20px);
        transition: opacity var(--main-transition);
        z-index: 0;
    } */

    &:hover {

        color: var(--accent-color);
        filter: drop-shadow(0 0 7px var(--hover-color));
        /* 
        &::after {
            opacity: 0.5;
        } */
    }
}

.hover-active-2 {
    transition: var(--main-transition);
    transition-property: transform, opacity;
    /* box-shadow: 0px 0px 0 0 var(--text-tertiary); */

    &:hover {

        /* transform: translate(-3px, -3px);
        box-shadow: 3px 3px 0 0 var(--text-tertiary); */
        &::before {
            animation: blinking 1.5s infinite;
        }
    }

    /* &:active {
        transform: translate(0, 0);
        box-shadow: 0px 0px 0 0 var(--text-tertiary);
    } */
}

@keyframes blinking {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}


.hover-active-svg-fill {
    &>svg {
        transition: fill var(--main-transition);
    }

    &:active,
    &:hover {
        &>svg {
            fill: var(--accent-color);
        }
    }
}

.hover-active-svg-stroke {
    &>svg {
        transition: stroke var(--main-transition);
    }

    &:active,
    &:hover {
        &>svg {
            stroke: var(--accent-color);
        }

    }
}


/* только для десктопа */
/* @media (min-width: 768px) {
    .pricing__cards {

        &:hover>.pricing__cards__item:not(:hover) {
            filter: blur(2px);
            transform: translate(5px, 5px);
            box-shadow: 0 0 0 0 var(--text-tertiary);
        }
    }
} */

/* .pricing__cards__item {
    transition: var(--main-transition);
    transition-property: transform, box-shadow, filter;

    &:hover {
        transform: translate(-5px, -5px);
        box-shadow: 10px 10px 0 0 var(--text-tertiary);
    }
} */

.pricing__card-period-best::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent 30%, var(--text-primary) 38%, var(--text-primary) 40%, transparent 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load_placeholder 12s infinite;

}

@keyframes load_placeholder {
    0% {
        background-position: 100% 0;
    }

    7% {
        /*  % времени уходит на движение */
        background-position: -90% 0;
    }

    100% {
        background-position: -90% 0;
    }
}

.accordion {
    transition: background-color var(--main-transition);

    /* styles when accordion open */
    &:has(.accordion-details[open]) {

        & .accordion-title {
            filter: var(--glow);
        }

        & .accordion-arrow::before {
            content: "–";
            transform: rotate(180deg);
        }
    }
}

.accordion-summary {
    transition: transform var(--main-transition);

    &:hover,
    &:focus-visible,
    &:active {
        transform: translateX(-5px);
    }
}

.accordion-title {
    transition: filter var(--main-transition);
}

[data-star] {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        height: clamp(100px, 10vw, 200px);
        width: clamp(100px, 10vw, 200px);
        background: center / contain no-repeat url('data:image/svg+xml,<svg width="198" height="198" viewBox="0 0 198 198" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M99.5045 0H98.0337C98.0337 75.1295 75.1295 98.0337 0 98.0337V99.5045C75.1295 99.5045 98.0337 122.421 98.0337 197.55H99.5045C99.5045 122.421 122.421 99.5045 197.55 99.5045V98.0337C122.421 98.0337 99.5045 75.1295 99.5045 0ZM150.034 102.861C136.986 106.277 126.916 111.65 119.289 119.289C111.662 126.928 106.242 136.974 102.861 150.034C100.715 158.639 99.345 167.42 98.7691 176.271C98.1964 167.421 96.8308 158.64 94.6888 150.034C91.2609 136.986 85.8877 126.916 78.2609 119.289C70.6341 111.662 60.5638 106.242 47.5164 102.861C38.9108 100.715 30.1298 99.345 21.2792 98.7691C30.1293 98.1964 38.9103 96.8308 47.5164 94.6888C60.5638 91.2609 70.6222 85.8877 78.2846 78.2846C85.947 70.6815 91.332 60.5875 94.7125 47.5401C96.8546 38.934 98.2201 30.1531 98.7928 21.3029C99.3688 30.1535 100.738 38.9345 102.885 47.5401C106.301 60.5875 111.674 70.6459 119.313 78.2846C126.952 85.9233 136.998 91.332 150.057 94.7125C158.663 96.8546 167.444 98.2201 176.295 98.7928C167.437 99.3596 158.648 100.721 150.034 102.861Z" fill="white" fill-opacity="0.3"/></svg>');
        background-size: 100% 100%;
        margin-inline-end: clamp(10px, 3vw, 80px);
        margin-block-start: clamp(1px, 1.5vw, 32px);
        filter: var(--glow);
    }
}

[data-star="top,right"]::after {
    top: 0;
    inset-inline-end: 0;
}

[data-star="bottom,right"]::after {
    bottom: 0;
    inset-inline-end: 0;
}

@media (max-width: 768px) {
    [data-star="top,right"]::after {
        top: 100%;
    }
}


/* glitch v4 */

/* .glitch { */
/* position: relative;
    z-index: 1; */
/* filter: drop-shadow(0 0 5px currentColor); */
/* animation: paths calc(var(--time-glitch, 5s)/2) step-end infinite; */
/* } */

/* .glitch:before {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: -2px;
    width: 100%;
    background-color: var(--bg-primary);
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation:
        noise-before calc(var(--time-glitch, 5s)/10) infinite linear alternate-reverse;
    animation-delay: calc(var(--time-glitch, 5s) * 0.7);
}

.glitch:after {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 2px;
    width: 100%;
    background-color: var(--bg-primary);
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation:
        noise-after calc(var(--time-glitch, 5s)/10 - 0.1s) infinite linear alternate-reverse;
    animation-delay: calc(var(--time-glitch, 5s) * 0.7);
} */

/* @keyframes noise-before {
    0% {
        clip: rect(61px, 9999px, 52px, 0);
    }

    5% {
        clip: rect(33px, 9999px, 144px, 0);
    }

    10% {
        clip: rect(121px, 9999px, 115px, 0);
    }

    15% {
        clip: rect(144px, 9999px, 162px, 0);
    }

    20% {
        clip: rect(62px, 9999px, 180px, 0);
    }

    25% {
        clip: rect(34px, 9999px, 42px, 0);
    }

    30% {
        clip: rect(147px, 9999px, 179px, 0);
    }

    35% {
        clip: rect(99px, 9999px, 63px, 0);
    }

    40% {
        clip: rect(188px, 9999px, 122px, 0);
    }

    45% {
        clip: rect(154px, 9999px, 14px, 0);
    }

    50% {
        clip: rect(63px, 9999px, 37px, 0);
    }

    55% {
        clip: rect(161px, 9999px, 147px, 0);
    }

    60% {
        clip: rect(109px, 9999px, 175px, 0);
    }

    65% {
        clip: rect(157px, 9999px, 88px, 0);
    }

    70% {
        clip: rect(173px, 9999px, 131px, 0);
    }

    75% {
        clip: rect(62px, 9999px, 70px, 0);
    }

    80% {
        clip: rect(24px, 9999px, 153px, 0);
    }

    85% {
        clip: rect(138px, 9999px, 40px, 0);
    }

    90% {
        clip: rect(79px, 9999px, 136px, 0);
    }

    95% {
        clip: rect(25px, 9999px, 34px, 0);
    }

    100% {
        clip: rect(173px, 9999px, 166px, 0);
    }
}

@keyframes noise-after {
    0% {
        clip: rect(26px, 9999px, 33px, 0);
    }

    5% {
        clip: rect(140px, 9999px, 198px, 0);
    }

    10% {
        clip: rect(184px, 9999px, 89px, 0);
    }

    15% {
        clip: rect(121px, 9999px, 6px, 0);
    }

    20% {
        clip: rect(181px, 9999px, 99px, 0);
    }

    25% {
        clip: rect(154px, 9999px, 133px, 0);
    }

    30% {
        clip: rect(134px, 9999px, 169px, 0);
    }

    35% {
        clip: rect(26px, 9999px, 187px, 0);
    }

    40% {
        clip: rect(147px, 9999px, 137px, 0);
    }

    45% {
        clip: rect(31px, 9999px, 52px, 0);
    }

    50% {
        clip: rect(191px, 9999px, 109px, 0);
    }

    55% {
        clip: rect(74px, 9999px, 54px, 0);
    }

    60% {
        clip: rect(145px, 9999px, 75px, 0);
    }

    65% {
        clip: rect(153px, 9999px, 198px, 0);
    }

    70% {
        clip: rect(99px, 9999px, 136px, 0);
    }

    75% {
        clip: rect(118px, 9999px, 192px, 0);
    }

    80% {
        clip: rect(1px, 9999px, 83px, 0);
    }

    85% {
        clip: rect(145px, 9999px, 98px, 0);
    }

    90% {
        clip: rect(121px, 9999px, 154px, 0);
    }

    95% {
        clip: rect(156px, 9999px, 44px, 0);
    }

    100% {
        clip: rect(67px, 9999px, 122px, 0);
    }
}

@keyframes paths {

    0%,
    95% {
        clip-path: none;
    }

    96% {
        clip-path: polygon(0% 43%, 83% 43%, 83% 22%, 23% 22%, 23% 24%, 91% 24%, 91% 26%, 18% 26%, 18% 83%, 29% 83%, 29% 17%, 41% 17%, 41% 39%, 18% 39%, 18% 82%, 54% 82%, 54% 88%, 19% 88%, 19% 4%, 39% 4%, 39% 14%, 76% 14%, 76% 52%, 23% 52%, 23% 35%, 19% 35%, 19% 8%, 36% 8%, 36% 31%, 73% 31%, 73% 16%, 1% 16%, 1% 56%, 50% 56%, 50% 8%);
    }

    97% {
        clip-path: polygon(0% 29%, 44% 29%, 44% 83%, 94% 83%, 94% 56%, 11% 56%, 11% 64%, 94% 64%, 94% 70%, 88% 70%, 88% 32%, 18% 32%, 18% 96%, 10% 96%, 10% 62%, 9% 62%, 9% 84%, 68% 84%, 68% 50%, 52% 50%, 52% 55%, 35% 55%, 35% 87%, 25% 87%, 25% 39%, 15% 39%, 15% 88%, 52% 88%);
    }

    98% {
        clip-path: polygon(0% 53%, 93% 53%, 93% 62%, 68% 62%, 68% 37%, 97% 37%, 97% 89%, 13% 89%, 13% 45%, 51% 45%, 51% 88%, 17% 88%, 17% 54%, 81% 54%, 81% 75%, 79% 75%, 79% 76%, 38% 76%, 38% 28%, 61% 28%, 61% 12%, 55% 12%, 55% 62%, 68% 62%, 68% 51%, 0% 51%, 0% 92%, 63% 92%, 63% 4%, 65% 4%);
    }

    99% {
        clip-path: polygon(0% 33%, 2% 33%, 2% 69%, 58% 69%, 58% 94%, 55% 94%, 55% 25%, 33% 25%, 33% 85%, 16% 85%, 16% 19%, 5% 19%, 5% 20%, 79% 20%, 79% 96%, 93% 96%, 93% 50%, 5% 50%, 5% 74%, 55% 74%, 55% 57%, 96% 57%, 96% 59%, 87% 59%, 87% 65%, 82% 65%, 82% 39%, 63% 39%, 63% 92%, 4% 92%, 4% 36%, 24% 36%, 24% 70%, 1% 70%, 1% 43%, 15% 43%, 15% 28%, 23% 28%, 23% 71%, 90% 71%, 90% 86%, 97% 86%, 97% 1%, 60% 1%, 60% 67%, 71% 67%, 71% 91%, 17% 91%, 17% 14%, 39% 14%, 39% 30%, 58% 30%, 58% 11%, 52% 11%, 52% 83%, 68% 83%);
    }

    100% {
        clip-path: polygon(0% 26%, 15% 26%, 15% 73%, 72% 73%, 72% 70%, 77% 70%, 77% 75%, 8% 75%, 8% 42%, 4% 42%, 4% 61%, 17% 61%, 17% 12%, 26% 12%, 26% 63%, 73% 63%, 73% 43%, 90% 43%, 90% 67%, 50% 67%, 50% 41%, 42% 41%, 42% 46%, 50% 46%, 50% 84%, 96% 84%, 96% 78%, 49% 78%, 49% 25%, 63% 25%, 63% 14%);
    }
} */